div{
    .character-card {
        position: relative;
        display: flex;
        flex-direction: row;
        color: rgba(40, 53, 35, 255);
        cursor: pointer;
        transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        width: 100%;
    
        img.card-img {
            width: 6rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            
        }
    
        .character-card-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // font-size: .9rem;
            .icon-status{
                position: absolute;
                line-height: 0;
                right: 7.5px;
                top: 10px;
            }
        }

    }
    
    .character-card:hover {
        -webkit-transform: scale(1.03);
        -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
        -o-transform: scale(1.03);
        transform: scale(1.03);
    }
    
    .selected{
        color: rgba(17,177,199,255);
        background-color: rgba(75, 183, 198, 0.2);
    }
}