.episode-list{
    height: 12rem;
    overflow-y: auto;
}

.episode-list::-webkit-scrollbar{
    width: .2rem;
}
.episode-list::-webkit-scrollbar-thumb{
    background-color: rgba(249, 243, 103, 255);
    border-radius: 1px;
}
.episode-list::-webkit-scrollbar-thumb:hover{
    background-color: rgba(249, 243, 103, 255);
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .episode-list::-webkit-scrollbar{
        width: .3rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .episode-list::-webkit-scrollbar{
        width: .4rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}