.episodes-list-container {
    display: grid;
    row-gap: 1rem;
    margin-top: 2rem;

    div {
        border-radius: .5rem;
        border: 1px solid;

        h4 {
            border-bottom: 1px solid;
            padding: 1rem;
            text-align: center;
            margin-bottom: 0;
        }

        ul {
            // border: 1px solid;
            padding: 0 1rem;

            li {
                list-style: none;
                border-bottom: 1px solid;
                padding: 1rem 0;
            }
        }
    }

}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .episodes-list-container{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}